.footer {
  height: 128px;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.text {
  color: var(--secondary-color);
}
.key {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--secondary-alt-color);
  color: var(--secondary-color);
}
.small {
  color: var(--secondary-color);
}
.small a {
  color: var(--secondary-color);
}