.modal {
  width: 100%;
  max-width: 1280px;
  background-color: var(--bg-color);
  border: none;
  border-radius: 8px;
  z-index: 100;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 0px;
  color: var(--text-color);
}
.close {
  position: absolute;
  right: 16px;
  width: fit-content;
  border: none;
  background: none;
  fill: var(--secondary-color);
  cursor: pointer;
}
.close:hover {
  fill: var(--text-color);
}

.heading {
  display: flex;
  align-items: center;
  color: var(--main-color);
  fill: var(--main-color);
  margin-top: 0;
}
.heading svg {
  margin-right: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 85%;
  row-gap: 8px;
  column-gap: 32px;
  margin: 16px auto;
}
.section:nth-of-type(2n) {
  padding-left: 2%;
}
.title {
  display: flex;
  font-size: 18px;
  line-height: 18px;
  color: var(--secondary-color);
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  margin: 0;
}
.title svg {
  margin-right: 4px;
}
.text {
  grid-area: text;
  font-size: 16px;
  margin: 0;
}
.text a {
  color: var(--secondary-color);
}
.key {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--bg-color);
}